body {
    font-family: 'ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace';
    font-size: 0.875rem;
    line-height: 1.7142857rem;
    background-color: #eaeaea;
    color:
    #1b1b1b;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eaeaea;
    border-bottom: 1px solid #333;
}

.logo {
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
}

.dog-logo {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.logo a:hover .dog-logo {
    content: url('new-hover-logo.png'); /* Replace with the path to your hover logo */
    transform: scale(1.1); /* Slightly enlarge the logo on hover */
}

.logo h1 {
    font-size: 1.5rem;
    color: ##ffffff;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #1b1b1b;;
}

main {
    padding: 20px;
}

.intro h2, .about h2 {
    color: #eaeaea;
    font-size: 2.5rem;
}

.intro p, .about p {
    color: #888;
}

.posts ul {
    list-style: none;
    padding: 0;
}

.posts ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.posts ul li span {
    color: #777;
}

.posts ul li a {
    color: #1b1b1b;;
    text-decoration: none;
}

.posts ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    color: white; /* Change the link color to white */
    text-decoration: none; /* Optional: remove underline from links */
    padding: 0 10px; /* Optional: add some padding for spacing */
}

.social-icons a:hover {
    color: #ccc; /* Change the color on hover (e.g., light gray) */
}

.posts ul li a:hover {
    text-decoration: underline;
}
